{% extends 'layout.html' %}

{% block content %}
  <div class="container" style="padding-top:50px; padding-bottom:100px;">
    <div class="row">
      <div class="col-md-12 mx-auto" style="text-align: center;">
        <h1 style="padding-bottom:30px;">Upload Image</h1>
        <!-- <h1>Upload an Image</h1> -->
        <form action="/upload" method="post" enctype="multipart/form-data" class="mx-auto" style="text-align: center;">
            <div class="mx-auto" style="padding-left: 40%;  padding-right: 40%; width:20%; text-align: center;">
              <input class="btn btn-primary" type="file" name="image" id="selectFile">
            </div>
            <br/>            
            <img id="uploadImage" src="#" alt="your image" style="height: 300px; width: auto; padding-bottom: 10px; display: none;"/>  
            <br/>         
            <input id="submitImage" class="btn btn-primary" type="submit" value="Upload Image" style="display: none">
        </form>
        
      </div>    
    </div>    
  </div>

  <script>
    selectFile.onchange = evt => {
      const [file] = selectFile.files
      if (file) {
        uploadImage.src = URL.createObjectURL(file)
        uploadImage.style.display = 'inline'
        submitImage.style.display = 'inline';
      }
    }
  </script>
{% endblock %}

